@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: MarkoOne;
    src: url("./fonts/MarkoOne-Regular.ttf");
}

@font-face {
    font-family: Sacramento;
    src: url("./fonts/Sacramento-Regular.ttf");
}


/*-------------------- VARIABLES --------------------*/
:root{
    --cor-texto:#20323D ;
    --bground: #E1E9EE ;
    --cor-primaria: #3AB8AF;
    --cor-secundaria: #B92BC6;
    --gray-color:#475B68;
    --text-design: #EBC0EF;
    --text-program:#C5EBE8;
    --cinza-suave:#D9D9D9;
}

/*-------------------- RESET --------------------*/
body, h1, h2, ul, li, p, dd, dt, dl{
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

body{
    background-color: var(--bground);      
    color: var(--cor-texto);  
    display: grid;
    font-family: Poppins;
    margin: 0px 8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    transition: background 0.2s linear;
}

/*-------------------- DEFAULT --------------------*/
.grid-section{
    display: grid;
    grid-column: 1/5;
    box-sizing: border-box;
    width: 100%; 
    margin-bottom: 3rem;   
}

.first-tittle{
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 400;
}

.special-tittle{
    font-family: MarkoOne;
    font-size: 2.5rem;
    font-weight: 400;
}

.second-tittle{
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 200;
}

.third-tittle{
    font-size: 1.8rem;
    margin-bottom: 16px;
    margin-top: 0px;
}

.paragraph{
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;  
}

.padrao-h2{
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-top: 0px;
}

.padrao-h2::before{
    content: '';
    width: 30px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    display: inline-block;
    background-color: var(--cor-primaria);
}

/*-------------------- NAVIGATION --------------------*/
.menu{
    display: grid;
    grid-column: 1/5;
    margin-top: 1rem;
    margin-bottom: 2rem;
    place-items: end;
}

.menu ul{   
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    margin-right: 32px;
    text-decoration: none;
    color: var(--preto);
    font-size: 1.125rem; 
    position: relative;   
}

.menu li a::after{
    content: "";
    position: absolute;
    background-color: var(--cor-primaria);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}

.menu li a:hover::after{
    width: 100%;
}

.menu li a.active{
    font-weight: 900; 
}

/*-------------------- SEÇÃO BEM-VINDO --------------------*/
.welcome .signature{
    font-family: Sacramento;
    font-size: 4.5rem;
    font-weight: 100;
    text-decoration: underline;
    padding-bottom: 5px;
}

.welcome .solution{
    padding: 0px 5px;
    border-radius: 10px;
    background-color: var(--text-program);
}

.welcome .accessible{
    padding: 0px 5px;
    border-radius: 10px;
    background-color: var(--text-design);
}

.welcome .paragraph{
    margin-top: 1rem;
}

.paragraph > a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

/*-------------------- SEÇÃO PROJETOS --------------------*/

.project-group{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.projects{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    border-radius: 10px;
    background-color: #F8F8FF;
    box-shadow: 0px 0px 3px 8px rgba(201,201,201,10, 0.75);
}

.project-desc{
    padding: 0px 30px 30px;    
}

.project-img{
    overflow: hidden;
}

.projects img{   
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transition: .5s ease-in-out;
}

.projects:hover img{
   transform: scale(1.1);
}

.projects .project-tittle{
    font-size: 1.8rem;
    margin-bottom: 16px;
    margin-top: 0px;
}

.projects .project-tittle::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin-right: 10px;
    display: inline-block;
    background-color: var(--cor-primaria);
}

.project-desc .tag-group .tag-btn{
    display: inline-block;
    background-color: var(--gray-color);
    color: var(--bground);
    padding: 8px;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-bottom: 8px;    
}

.project-desc .p-date{
    margin-top: 8px;
    font-size: 0.8rem;
    color: var(--gray-color);
}

.project-desc .btn-default{
    background-color: var(--cor-primaria);
    padding: 10px;
    display: block;
    text-align: center;
    margin-top: 30px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--bground);
    text-transform: uppercase;
    font-weight: 900;  
    transition: 0.3s ease-in-out;  
}

.project-desc .btn-default:hover{
    background-color: #2E908A; 
}


.grid-titulo .grupo-tag .tag{
    display: inline-block;
    background-color: var(--cinza-suave);
    color: var(--cor-texto);
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 0.9rem;
    margin-top: 8px;
}

.grid-quemsoueu{
    grid-column: 1/5;
}

.grid-quemsoueu .paragrafo-texto{
    font-size: 1rem;
    font-weight: 100;
}

.grid-experiencias h2{
    margin-bottom: 0px;
}

.grid-experiencias .grupo-exp{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));   
}

.grid-experiencias .div-titulo-exp{
    display: flex;
    align-items: center;
}

.grid-experiencias .titulo-exp{
    text-transform: uppercase;
}

.grid-experiencias .data-exp{
    font-size: 0.8rem;
    margin-left: 10px;
}

.grid-experiencias .card-exp{
    margin-top: 20px
}

.grid-experiencias .data-exp::before{
    content: '';
    width: 60px;
    height: 1px;
    display: inline-block;
    margin-right: 10px;
    background-color: var(--cor-texto);
}

.grid-experiencias p{
    margin-top: 10px;
}

.grid-experiencias .tecnologias-exp{
    font-size: 0.8rem;
}

.grid-grupo{
    display: flex;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(800px,1fr));
}

/*-------------------- FOOTER --------------------*/
.footer{
    place-items: center;
}

.footer .social-media{
    margin-top: 0.5rem;
    display: flex;    
}

.footer .social-media a{
    transition: 0.5s;
}

.footer .social-media a:hover{
    transform: scale(1.1);
}

.footer .social-media a{
    margin-right: 15px;
}




